# Ігноруємо Git
.git

# Ігноруємо IDE налаштування
.vscode
.idea

# Ігноруємо файли залежностей (якщо вони в процесі збору)
node_modules/
__pycache__/

# Ігноруємо файли, які не повинні потрапляти в образ
.DS_Store

# Логи
*.log
